/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2021, 11:30:24 AM
    Author     : Jamit
*/
* {
    margin: 0;
    padding: 0;
    font-family: Merriweather, serif;
}

.main-body {
   margin: auto;
   width: 1366px;
}

.header {
    width: 100%;
    height: 125px;
}

.header .logo {
    float: left;
    width: auto;
    height: auto;
    margin: 25px;
    margin-left: 75px;
}

.header .menu {
    margin: 25px;
    float: right;
}

.header .menu .menu-items li {
    margin: 25px;
    display: inline-block;
}

.header .menu .menu-items li a {
    text-decoration: none;
    font-size: 21px;
    color: black;
}

.first-banner{
    width: 100%;
    height: 870px;
}

.first-banner .dark-purple-box {
    background-color: blueviolet;
    margin: 0% 0% 0% 40%; 
    opacity: 75%;
    width: 60%;
    height: 850px;
    position: absolute;
    z-index: 1;
}

.first-banner .purple-img{
    height: 650px;
    width: 750px;
    object-fit: cover;
    object-position: top left;
    position: absolute;
    z-index: 2;
    margin: 100px;
}

.first-banner .name-and-textbox{
    height: 450px;
    width: 450px;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-left: 52%;
    margin-right: 30%;
    margin-top: 15%;
    color: blueviolet;
}

.first-banner .name-and-textbox .text-box-title{
    font-weight: 1000;
    font-size: 22px;
    text-align: right;
    max-width: 75%;
    margin-left: 20%;
    margin-top: 10%}

.first-banner .name-and-textbox .name-of-the-textbox{
    font-size: 90px;
    text-align: right;
    max-width: 75%;
    margin-left: 20%;
}

.first-banner .name-and-textbox .img-loc-tag{
    text-align: right;
    max-width: 75%;
    margin-left: 20%;
}
.img-loc-tag{
    font-style: italic;
    font-size: 22px;
    color: black;
}

.second-banner{
    width: 100%;
    height: 450px;
    background-color: white;
}

.second-banner .second-banner-1text{
    max-width: 45%;
    max-height: 40%;
    font-size: 70px;
    font-weight: 1000;
    color: purple;
    margin: 5% 0% 5% 10%
}

.second-banner .second-banner-2text{
    max-width: 40%;
    max-height: 40%;
    font-size: 25px;
    font-weight: 600;
    color: activecaption;
    margin: 7% 10% 5% 50%
}

.third-banner{
    max-width: 100%;
    height: 800px;
}

.third-banner .left-side{
    float: left;
    max-width: 55%;
    height: 100%;
}

.third-banner .left-side .text{
    float: left;
    max-width: 50%;
    height: 100%;
    background-color: blueviolet;
    opacity: 85%;
    color: white;
}


.third-banner .left-side .text .text-title{
    font-size: 28px;
    margin: 65% 0% 5% 10%;
}

.third-banner .left-side .text hr{
    border: none;
    background: whitesmoke;
    height: 3px;
    width: 20%;
    margin: 0% 0% 0% 10%;
}

.third-banner .left-side .text .text-text{
    font-size: 28px;
    margin: 5% 10% 5% 10%;
}

.third-banner .left-side .left-img{
    float: right;
    max-width: 50%;
    max-height: 100%;
}


.third-banner .left-side .left-img .text-img{
    width: 80%;
    height: 80%;
    margin: 55% 10% 5% 10%;
}

.third-banner .left-side .left-img .img-loc-tag{
    
    margin: 0% 10% 5% 10%;
}

.third-banner .right-side{
    float: right;
    max-width: 45%;
    height: 100%;
}


.third-banner .right-side .caption{
    max-width: 80%;
    height: 30%;
    font-size: 45px;
    font-weight: 1000;
    color: blueviolet;
    padding: 15% 0% 0% 10%
}


.third-banner .right-side .image-and-text{
    max-width: 100%;
    height: 60%;
}

.third-banner .right-side .image-and-text .img{
    float: left;
    width: 50%;
    height: 100%;
    
}

.third-banner .right-side .image-and-text .img .purple-img2{
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-top: 28%;
}

.third-banner .right-side .image-and-text .right-side-text{
    float: right;
    width: 50%;
    height: 100%;
}

.third-banner .right-side .image-and-text .right-side-text .rs-text-title{
    color: blueviolet;
    font-size: 28px;
    margin: 50% 0% 5% 10%;
} 

.third-banner .right-side .image-and-text .right-side-text hr{
    border: none;
    background: blueviolet;
    height: 3px;
    width: 20%;
    margin: 5% 0% 5% 10%;
} 

.third-banner .right-side .image-and-text .right-side-text .rs-text-text{
    font-size: 24px;
    margin: 5% 0% 10% 10%;
    max-width: 70%;
    line-height: 32px;
} 

.fourth-banner {
    width: 100%;
    height: 1000px;
}

.fourth-banner .purple-box{
    width: 250px;
    height: 250px;
    background-color: purple;
    -webkit-clip-path: circle(50% at 50% 50%);
    position: absolute;
    z-index: 1;
    margin: 10% 40% 20% 10%;
}

.fourth-banner .fourth-banner-img{
    width: 600px;
    height: 600px;
    -webkit-clip-path: circle(50% at 50% 50%);
    position: absolute;
    z-index: 2;
    margin: 20% 40% 25% 10%;
}

.fourth-banner .fourb-title-and-text{
    width: 45%;
    height: 580px;
    background-color: lightcoral;
    opacity: 70%;
    position: absolute;
    z-index: 1;
    margin: 30% 20% 10% 47%;
    color: white;
    font-size: 22px;
}

.fourth-banner .fourb-title-and-text .fourb-title{
    margin: 15% 0% 5% 20%;
    font-size: 40px;
}


.fourth-banner .fourb-title-and-text .fourb-text{
    margin: 5% 0% 5% 20%;
    font-size: 25px;
    max-width: 60%;
}


.fourth-banner .fourb-title-and-text .img-loc-tag{
    margin: 5% 0% 5% 20%;
    font-size: 25px;
    color: white;
}

.fourth-banner .fourb-title-and-text .img-loc-tag a{
    color: white;
}

.fourth-banner .fourb-title-and-text .fourb-link{
    background-color: white;
    padding: 20px;
    color: lightcoral;
    text-decoration: none;
    margin: 5% 0% 5% 20%;
}