/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2021, 11:41:46 AM
    Author     : Acer
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}
